/*==============================================
  Reset | Default
===============================================*/
a { text-decoration: none; }
img { max-width: 100%; }

/*==============================================
  Reset | Bootstrap
===============================================*/
/*--- Navbar ---*/
.navbar ul.navbar-nav li.dropdown:last-child .dropdown-menu
{
  left: unset;
  right: 0;
}

/*==============================================
  Layout || Section
===============================================*/
.section {
  padding: 5rem 0;
}

.section-main {
  padding: 2rem 0;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  text-transform: uppercase;
}

.section-excerpt {
  margin: 25px auto 0;
  width: 600px;
  max-width: 100%;
  color: gray;
  line-height: 1.8em;
  font-size: 1em;
}
.section-contents {}

/*==============================================
  Layout || Footer
===============================================*/
 .footer-section {
  padding: 30px 0;
  color: #fff;
  background-color: #2b2b2b;
}

.copyright-section {
  text-align: center;
  background-color: #212121;;
  color: #fff;
  padding: 15px 0;
}

.copyright-span {
  color: #007bff;
}


/*==============================================
  Sidebar || Common Style
===============================================*/
.widget-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar-widget ul {
  margin: 20px 0;
  padding: 0;
}
.sidebar-widget ul li {
  margin-bottom: 15px;
  list-style: none;
  position: relative;
  padding-left: 1.5em;
}

.sidebar-widget ul li:before {
  content: '\f101';
  font-family: 'Font Awesome 5 free';
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: bold;
}

.sidebar-widget ul li ul {
  margin: 5px 0;
}

.sidebar-widget ul li a {
  display: inline-block;
}
.sidebar-widget ul li a span{}

/*==============================================
  Sidebar || Default Widget
===============================================*/
.default-widget:not(.widget_search) {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  background-color: #fcfcfc;
}

/*==============================================
  Sidebar || Footer Widget
===============================================*/
.footer-widget {
  border: none;
  background-color: transparent;
}
